.reward_content {
    display: flex;
    padding: 39px 90px;
    flex: 1;
}
.reward_content_wrapper {
    display: flex;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .reward_wrapper {
        display: flex;
        flex: 1 1;
        flex-direction: column;
    }
    .reward_content_wrapper {
        display: flex;
        flex-direction: column;
    }

    .reward_content {
        display: flex;
         padding: 0px;
        flex: 1 1;
    }
}